/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

/*NAVBAR*/

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'intro_din';
  src: url(../fonts/ufonts.com_din-regular.ttf);
}

@font-face {
  font-family: 'sitewide_din';
  src: url(../fonts/DIN_Condensed_Bold.ttf);
}

@font-face {
  font-family: 'section_titles_din';
  src: url(../fonts/DIN_Alternate_Bold.ttf);
}

.nav_logo {
  height: 2em;
  width: 2em;
  fill: #fff;
}

.main_logo {
  fill: white;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  background-color: rgba(227, 185, 100, .7);
  color: white;
  padding: 1%;
  text-align: center;
}

/*TITLE HEADER*/

.tc_title {
  top: 35px;
  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: #fff;
  font-family: 'section_titles_din';
}

.history_font {
  font-family: 'sitewide_din';
  font-size: 110px;
}

.race-details-title {
  font-family: 'section_titles_din';
  font-size: 72px;
  color: #858585;
}

.race-details-position {
  padding-bottom: 35px;
  padding-top: 11.5px;
}

.intro .intro-body .subtitle-text {
  /*font-family: 'Comfortaa', cursive;*/
  font-size: 18px;
  font-family: 'intro_din';
  opacity: .8;
}

.sitewide-text {
  font-family: 'section_titles_din';
}

.menu-text {
  /*font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'sitewide_din';
  font-size: 20px;
}
.sneakers {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/sneakers.jpg) no-repeat bottom center scroll;
}
.vertical-align {
  vertical-align: middle;
  display: inline-block;
}
/*.race-details {
  margin-top: 11.5px;
}*/

.faq-title {
  padding-bottom: 10px;
}

#social {
  margin-top: 15px;
  margin-bottom: 10px;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.sponsors {
  margin: -15px 0;
}
.faq-list {
  list-style: none;
  font-size: 20px;
  text-align: left;
  margin: 0 75px;
  /*margin-right: 16.66666667%;*/
}

.faq-mobile {
  visibility: hidden;
  display: none;
}

.faq {
  visibility: visible;
  display: inline;
}

.questions {
  font-size: 26px;
  color: #858585;
}

/*.mobile-questions {
  font-size: 26px;
  color: #858585;
}*/

#mobile-question-1 {
  font-size: 26px;
  color: #858585;
}

#mobile-question-2 {
  font-size: 26px;
  color: #858585;
}

#mobile-question-3 {
  font-size: 26px;
  color: #858585;
}

#mobile-question-4 {
  font-size: 26px;
  color: #858585;
}

#mobile-question-5 {
  font-size: 26px;
  color: #858585;
}

#mobile-question-6 {
  font-size: 26px;
  color: #858585;
}

#mobile-question-7 {
  font-size: 26px;
  color: #858585;
}

#mobile-question-8 {
  font-size: 26px;
  color: #858585;
}

#mobile-question-9 {
  font-size: 26px;
  color: #858585;
}

.line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #A3A3A3;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 10px;
}

.copyright_text {
  font-family: 'section_titles_din';
  font-size: 12px;
}

.email_text {
  font-family: 'section_titles_din';
  margin-bottom: 10px;
}

.about-section {
  box-sizing: border-box;
}

/*.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}*/

/*MEDIA QUERIES*/

@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: inline;
  }
}
@media (max-width:768px) {
  .tc_title {
    font-size: 24px;
  }
}
@media (max-width:480px) {
  /*.tc_title {
    font-size: 16px;
  }*/
}

@media(max-width:416px) {

  .tc_title {
    font-size: 20px;
  }

  /*.nav_logo {
    margin-left: -5px;
  }*/

  .intro .intro-body .subtitle-text {
    font-size: 14px;
  }

  .main_logo {
    fill: white;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-color: rgba(227, 185, 100, .7);
    color: white;
    padding: 1%;
    text-align: center;
  }

  .history_font {
    font-size: 50px;
  }

  .race-details-title {
    font-size: 36px;
  }

  .history_padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .race-details-position {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .faq-list {
    list-style: none;
    font-size: 15px;
    text-align: left;
    margin: 0 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .faq-mobile {
    visibility: visible;
    display: inline;
  }
  .faq {
    visibility: hidden;
    display: none;
  }


  .questions {
    font-size: 18px;
    /*color: #858585;*/
  }

  .faq-title {
    padding-top: 10px;
  }

  #map {
    /*width: 100%;
    height: 200px;*/
    margin-top: 0;
  }

  /*.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/street_mobile.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }*/

}
