
/*LOGO STYLES*/
.nav_logo {
  height: 2em;
  width: 2em;
  fill: #fff;
}

.main_logo {
  fill: white;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  background-color: rgba(227, 185, 100, .7);
  color:white;
  padding: 1%;
  text-align: center;
}

/*TITLE HEADER*/
.tc_title {
  top: 45px;
  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
}

/*MEDIA QUERIES*/
@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: inline;
  }
}
@media(max-width:768px) {
  .title {
    font-size: 24px;
    margin-top: -55px;
    margin-bottom: 55px;
  }
}
